Box Model Hack */
/* * {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

  font-family: 'Lora', serif;
  

}

/* LANDING SEC1 */
#landingPage{
  text-align: center;
  width: 100%;
  height: 700px;
  background-image: url('./Users/wilsonurias/Projects/Hotel Landing Page/Images/hotel-main.jpeg');
  /* background-color: rgba(119, 162, 153, 1) */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#landingPage h1, h2, button{
  margin: auto;
}

h1{
  font-size: 125px;
}
h2{
  font-size: 30px;
  padding-top: 25px;
}

button{
  margin-top: 70px;
  height: 50px;
  background-color: transparent;
  background-repeat: no-repeat;
  border-color: black;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.5s;
}

/* LANDING SEC1 */

/* SERVICES SEC2 */
#hotelServices{
  width: 100%;
  height: 700px;
  color: #C6B677;

}


#hotelServices h2{
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

#hotelServices p{
  text-align: center;
  font-size: 20px;
  padding-top: 35px;

}

.services{ 
  float: left;
  height: 300px;
  width: 200px;
  color: white;
  margin-top: 50px;
  margin-left: 175px;
  font-size: 30px;
}

#rest{
  background-image: url('/Users/wilsonurias/Projects/Hotel Landing Page/Images/restaurant.jpg');
}

#gym{
  background-image: url('/Users/wilsonurias/Projects/Hotel Landing Page/Images/gym.jpg');
}

#spa{
  background-image: url('/Users/wilsonurias/Projects/Hotel Landing Page/Images/spa.jpg');
}


span{
  position: relative;
  top: 100px;
  left: 25px;
}
/* LANDING SEC2 */

/* LANDING SEC3 */
#roomTypes{
  text-align: center;
  width: auto;
  height: 700px;
  background-image: url('/Users/wilsonurias/Projects/Hotel Landing Page/Images/room.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#roomTypes ul li{ 
  display:inline-block;
  padding: 50px;
  font-size: 25px;
  color: #C6B677;
}

#roomTypes span{
  font-size: 80px;
  color: #C6B677;
}

#roomTypes p{
  margin-top: 125px;
  margin-left: 15px;
  font-size: 80px;
  color: #C6B677;
}


/* LANDING SEC3 */

/* CONTACT FORM */

#contactForm{
  text-align: center;
  width: auto;
  height: 340px; 
  background-color: #ffffff;
  background-attachment: fixed;
  background-size: cover;

}


#contactForm span{
  float: left;
  font-size: 30px;
  color: #BABF95;
}

#contactForm form{
  padding-top: 100px;
  width: 100%;
  display: inline-block;

}

#contactForm #contactButton{
  background-color: #C6B677;
}

#comments{
  align-content: space-between;
  width: 400px;
  height: 100px;
  margin-left: 100px;
}
 
/* CONTACT FORM */
 
/* LANDING FOOTER  */

footer{
  width: auto;
  height: 200px;
  background-color: white;
  color: #C6B677;
}

footer section{
  width: 33.3333%;
  float: left;
}

footer #contactInfo h5, footer #about h5, footer #socialMedia h5{
  color: black;
  font-size: 20px;
}

footer #contactInfo p, footer #about p, footer #socialMedia p{
  font-size: 13px;
}

footer #about{
  align-content: center;
}

footer #socialMedia{
  padding-left: 175px;

}





/******************************************
/* LAYOUT
/*******************************************/
/* header {

}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

button{
  margin-top: 50px;
  border: 2px solid black;
  transition-duration: 0.4s;
  height: 50px;
  width: 250px;
}

button:hover{
  background-color: gray;
  color: black;
}


/* @media only screen and (max-width: 600px) {
  #landingPage{
    text-align: center;
    width: 100%;
    height: 700px;
    background-image: url('/Users/wilsonurias/Desktop/Hotel Landing Page/Images/hotel-main.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #landingPage h1, h2, button{
    margin: auto;
  }
} */